/*  your css code here. If applicable */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#my-id{
	background-color: rgb(204, 204, 204);
}
.ex-1{
	text-align:center;
	font-family:poppins;
}
.my-div{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	background-color:white;
	
}
.none{
	list-style:none;
}
.i-am{
	text-decoration:none;
	color:black;
}

..player_one{
	border-style:solid;
	background-color:white;
	border-width:1px;
	width:80%;
	height:100%;
	border-radius:5px;
	padding:10px;
	background-color: rgb(255, 255, 255);
	margin: auto;
}
..player_two{
	height:100%;
}